header {
	display: flex;
	gap: 0.75em;
	align-items: center;
	position: sticky;
	top: 0;
	padding: 1em 10vw;
	width: 100%;
	z-index: 1;
	background-color: var(--quartery-bg);

	svg {
		width: 1.25em;
	}

	h1 {
		font-size: 1.25em;
	}

	a {
		margin-left: auto;
	}
}

main {
	min-height: inherit;
	display: flex;
	flex-direction: column;
	background-color: var(--secondary-bg);

	output {
		display: grid;
		row-rule: solid 1px var(--primary-bg);

		menu {
			display: grid;
			/* row-rule: inherit; */
			row-rule: solid 1px var(--primary-bg);


			&:nth-of-type(1) {
				background-color: var(--terciary-bg);

				li {
					display: flex;
					gap: 0.75em;
					justify-content: end;
					align-items: center;
					padding: 1em 10vw;

					h2 {
						flex-grow: 1;
					}
				}

				button {
					width: 1.5em;

					svg {
						path {
							fill: var(--secondary-bg);
						}

						circle {
							fill: black;
						}
					}
				}
			}

			&:nth-of-type(2) {
				svg {
					height: 1em;
					width: auto;

					path {
						fill: black;
					}
				}
			}
		}

		p {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			opacity: 70%;
			font-size: smaller;
			width: 100%;
			text-box: initial;
			scrollbar-width: none;

			span {
				all: unset;
			}
		}

		date {
			opacity: 70%;
			font-size: smaller;
			flex-grow: 1;
			text-align: right;
		}

		data {
			background-color: var(--quartery-bg);
			color: white;
			border-radius: 50%;
			padding: 0.4em 0.5em;
			font-size: 0.7em;
		}

		a {
			display: flex;
			width: 100%;
			gap: 0.75em 0.5em;
			padding: 1em 10vw;
			align-items: center;
		}

		li {
			overflow: hidden;
			scrollbar-width: none;
		}
	}

	> section {
		margin-top: auto;
		position: sticky;
		bottom: 0;

		form {
			display: flex;
			flex-wrap: nowrap;
			gap: 1em;
			align-items: center;
			width: 100%;
			padding: 1em 10vw;
			background-color: var(--terciary-bg);

			&:nth-of-type(2) {
				background-color: var(--quartery-bg);
			}

			input {
				min-width: 0;
				flex-grow: 1;
				padding: 0.25em 0.75em;
				border-radius: 0.15em;
				background-color: white;
			}

			button {
				svg {
					width: 1.75em;

					path {
						fill: black;
					}

					circle {
						fill: white;
					}
				}
			}

			output {
				width: 100%;

				&:empty {
					position: absolute;
				}
			}
		}
	}
}