form:has(geolocation) {
	button {
		display: none;
	}
}

geolocation {
	background-color: white;
	padding: 0.4em 0.65em;
}

header {
	position: sticky;
	top: 0;
	display: flex;
	padding: 1em 10vw;
	background-color: var(--terciary-bg);
	align-items: center;
	justify-content: space-between;
	gap: 0.75em;
	z-index: 1;

	h1 {
		font-size: 1.25em;
	}

	svg {
		width: 1.25em;
	}

	a {
		align-self: center;
		border-radius: 0.25rem;

		svg {
			height: 1.25em;
		}
	}

	form {
		display: flex;
		align-items: center;
		gap: 1em;
		/* margin-left: auto; */
		/* flex-grow: 1; */
	}

	div {
		display: flex;
		gap: 0.75em;
		align-items: center;
	}
}

main {
	min-height: inherit;
	display: flex;
	flex-direction: column;
	gap: 3em;

	> section {
		display: grid;
		gap: 1em;
		align-content: center;
		width: 100%;
		position: sticky;
		bottom: 0;
		margin-top: auto;
		padding: 1em 10vw;
		background-color: var(--terciary-bg);

		details {
			summary::marker {
				content: '';
			}

			svg {
				border-radius: 0.25em;
			}
		}

		&:has(li:nth-of-type(1) details:open) {
			form:nth-of-type(1) {
				display: grid;
			}
		}

		&:has(li:nth-of-type(2) details:open) {
			form:nth-of-type(2) {
				display: grid;
			}
		}

		&:has(li:nth-of-type(3) details:open) {
			form:nth-of-type(3) {
				display: grid;
			}
		}

		&:has(li:nth-of-type(4) details:open) {
			form:nth-of-type(4) {
				display: grid;
			}
		}

		&:has(li:nth-of-type(5) details:open) {
			form:nth-of-type(5) {
				display: grid;
			}
		}

		&:has(li:nth-of-type(6) details:open) {
			form:nth-of-type(6) {
				display: grid;
			}
		}

		&:has(li:nth-of-type(7) details:open) {
			form:nth-of-type(7) {
				display: grid;
			}
		}

		&:has(li:nth-of-type(8) details:open) {
			form:nth-of-type(8) {
				display: grid;
			}
		}

		details:open {
			interactivity: inert;

			summary {
				opacity: 50%;
			}
		}

		/* form {
			display: none;
		} */

		> menu {
			display: flex;
			gap: 0.75em;

			svg {
				width: 1.75em;
			}
		}

		form {
			display: none;
			gap: 1.25em;
			align-content: center;
			grid-template-columns: 1fr auto;

			output {
				padding: 0;

				&:empty {
					display: none;
				}
			}
		}

		textarea {
			border-radius: 0.25rem;
			padding: 0.25em 0.75em;
			background-color: var(--white);
		}

		button {
			padding: 0.5em;
			border-radius: 0.25rem;
			transition: transform 0.5s;
			justify-self: center;
			align-self: end;
			background-color: var(--white);

			&:hover {
				transform: scale(107%);
			}

			svg {
				height: 1em;
				fill: var(--terciary-bg);
			}
		}
	}

	output {
		display: grid;
		gap: 0.5em;
		padding: 0 10vw 0;
		max-width: 1200px;
		margin: 0 auto;
		width: 100%;

		> date:has(+p) {
			margin-bottom: 0;
		}

		> date {
			text-align: center;
			margin: 1em 0;
		}

		a {
			color: revert;
			text-decoration: underline;
		}

		form {
			justify-self: right;

			svg {
				width: 1.5em;
				fill: var(--quartery-bg);
			}
		}

		article {
			display: grid;
			gap: 1em;
			padding: 1em;
			border-radius: 1em;
			width: fit-content;
			max-width: 85%;
			align-items: self-end;
			background-color: rgb(221, 221, 221);

			div {
				display: flex;
				gap: 0.75em 1em;
				align-items: self-end;
			}

			h2 {
				font-weight: bold;
				/* font-size: 1.25rem; */
				width: 100%;
			}

			date {
				font-size: 0.75rem;
				text-align: right;
				flex-grow: 1;
				opacity: 70%;
				margin-left: 1em;
				justify-self: end;
			}

			img {
				max-height: 300px;
			}

			video {
				max-height: 300px;
			}
		}
	}

	#marcador {
		text-align: center;
		font-size: 0.8em;
		margin: 1.5em 0;
	}

	.mensaje-propio {
		justify-self: right;
		background-color: var(--secondary-bg);
	}

	> date {
		text-align: center;
		font-size: 0.8em;
		margin: 1.5em 0;
	}
}