header {
	position: sticky;
	top: 0;
	display: flex;
	padding: 0.75em 10vw;
	background-color: var(--terciary-bg);
	align-items: center;
	gap: 0.75em;
	z-index: 1;

	h1 {
		font-size: 1.25em;
	}

	svg {
		width: 1.25em;
	}

	a {
		align-self: center;
		border-radius: 0.25rem;

		svg {
			height: 1.25em;
		}
	}

	.online {
		fill: green;
	}

	.offline {
		fill: red;
	}
}

main {
	> section {
		display: grid;
		gap: 1.25em;
		align-content: center;
		width: 100%;
		position: fixed;
		left: 0;
		bottom: 0;
		padding: 1em 10vw;
		background-color: var(--terciary-bg);

		form {
			display: grid;
			gap: 1.25em;
			align-content: center;
			grid-template-columns: 1fr auto;
		}

		textarea {
			border-radius: 0.25rem;
			padding: 0.25em 0.75em;
			background-color: var(--white);
		}

		button {
			padding: 0.5em;
			border-radius: 0.25rem;
			transition: transform 0.5s;
			justify-self: center;
			align-self: end;
			background-color: var(--white);

			&:hover {
				transform: scale(107%);
			}

			svg {
				height: 1em;
				fill: var(--terciary-bg);
			}
		}
	}

	output {
		display: grid;
		gap: 0.5em;
		padding: 2em 10vw 8em;
		max-width: 1200px;
		margin: 0 auto;
		width: 100%;

		form {
			justify-self: right;

			svg {
				width: 1.5em;
				fill: var(--quartery-bg);
			}
		}

		article {
			display: grid;
			gap: 1em;
			padding: 1em;
			border-radius: 1em;
			width: fit-content;
			max-width: 85%;
			align-items: self-end;
			/* background-color: var(--secondary-bg); */
			background-color: rgb(221, 221, 221);

			div {
				display: flex;
				gap: 0.5em 1em;
				align-items: self-end;

			}

			.autor {
				font-weight: bold;
				font-size: 1.25rem;
				width: 100%;
				/* flex-grow: 1; */

			}

			.fecha {
				font-size: 0.75rem;
				text-align: right;
				flex-grow: 1;
				opacity: 70%;
			}
		}

		#marcador {
			text-align: center;
			font-size: 0.8em;
			margin: 1.5em 0;
		}

		.mensaje-propio {
			justify-self: right;
			background-color: var(--secondary-bg);
			/* border-radius: 1em 0 1em 1em; */
		}

		.cambio-dia {
			text-align: center;
			font-size: 0.8em;
			margin: 1.5em 0;
		}
	}
}