header {
	position: sticky;
	top: 0;
	display: flex;
	padding: 0.7em 10vw;
	background-color: var(--terciary-bg);
	align-items: center;
	gap: 0.75em;
	z-index: 1;

	h1 {
		font-size: 1.25em;
	}

	svg {
		width: 1.25em;
	}

	a {
		align-self: center;
		border-radius: 0.25rem;

		svg {
			height: 1.25em;
		}
	}

	form {
		display: flex;
		align-items: center;
		gap: 1em;
		margin-left: auto;
	}
}

main {
	min-height: inherit;
	display: flex;
	flex-direction: column;
	gap: 3em;

	> section {
		display: grid;
		gap: 0.75em;
		align-content: center;
		width: 100%;
		position: sticky;
		bottom: 0;
		margin-top: auto;
		padding: 1em 10vw;
		background-color: var(--terciary-bg);

		button {
			&[type="submit"] {
				interactivity: inert;
			}
		}

		input {
			display: none;
		}

		> menu {
			display: flex;
			gap: 0.75em;

			svg {
				width: 1.75em;
				border-radius: 0.25em;
			}
		}

		> form {
			display: flex;
			flex-wrap: nowrap;
			align-items: end;

			textarea {
				flex-grow: 1;
				border-radius: 0.25rem;
				padding: 0.25em 0.75em;
				background-color: var(--white);
			}

			button {
				padding: 0.45em;
				border-radius: 0.25rem;
				transition: transform 0.5s;
				background-color: var(--white);

				&:hover {
					transform: scale(107%);
				}

				svg {
					width: 1em;
					fill: var(--terciary-bg);
				}
			}
		}

		form {
			gap: 1em;
			align-content: center;
			grid-template-columns: 1fr auto;

			output {
				&:empty {
					position: absolute;
				}
			}
		}
	}

	output {
		display: grid;
		gap: 0.5em;
		padding: 0 10vw 0;
		max-width: 1200px;
		margin: 0 auto;
		width: 100%;

		> date:has(+p) {
			margin-bottom: 0;
		}

		> date {
			text-align: center;
			margin: 1em 0;
		}

		a {
			color: revert;
			text-decoration: underline;
		}

		form {
			justify-self: right;

			svg {
				width: 1em;
				fill: var(--quartery-bg);
			}
		}

		article {
			position: relative;
			display: grid;
			gap: 0.75em;
			padding: 0.5em 0.75em;
			border-radius: 10px;
			width: fit-content;
			max-width: 85%;
			background-color: rgb(221, 221, 221);

			&:has(img) {
				gap: 0.75em;
				padding: 0;

				date {
					color: white;
					opacity: 100%;
					position: absolute;
					top: 0;
					padding: 14px;
				}

				h2 {
					padding-top: 0.35em;
					padding-left: 10px;
				}
			}

			&:has(video) {
				gap: 0.75em;
				padding: 0;
				background-color: transparent;

				date {
					color: white;
					opacity: 100%;
					position: absolute;
					top: 0;
					padding: 14px;
				}

				h2 {
					padding-top: 0.35em;
					padding-left: 10px;
				}
			}

			&:has(audio) {
				padding: 0.5em;
			}

			&:has(h2+img, h2+video) {
				padding: 0.75em 0 0;
				background-color: var(--secondary-bg);

				img,
				video {
					border-radius: 0 0 10px 10px;
				}

				date {
					color: revert;
					opacity: 70%;
				}

				h2 {
					padding-top: 0;
					padding-left: 13px;
				}
			}

			form {
				position: absolute;
				transform: translate(125%, 0);
			}

			> a {
				max-width: 120px;
			}

			h2 {
				font-weight: bold;
				width: 100%;
				padding-top: 0.35em;
			}

			date {
				font-size: 0.75rem;
				text-align: right;
				flex-grow: 1;
				opacity: 70%;
				justify-self: end;
			}

			img {
				max-height: 300px;
				border-radius: 10px;
			}

			video {
				max-height: 300px;
				border-radius: 10px;
			}

			audio {
				max-height: 40px;
			}

			p {
				display: flex;
				align-items: center;
				gap: 0.25em 1em;
			}
		}
	}

	#marcador {
		text-align: center;
		font-size: 0.8em;
		margin: 1.5em 0;
	}

	.mensaje-propio {
		justify-self: right;
		background-color: var(--secondary-bg);

		&:has(video, img) {
			background-color: transparent;
		}

		&:has(h2+img, h2+video) {
			padding: 0.75em 0 0;
			background-color: var(--secondary-bg);

			date {
				color: revert;
				opacity: 70%;
			}

			img {
				border-radius: 0 0 10px 10px;
			}

			video {
				border-radius: 0 0 10px 10px;
			}

			h2 {
				padding-top: 0;
				padding-left: 13px;
			}
		}
	}

	> date {
		text-align: center;
		font-size: 0.8em;
		margin: 1.5em 0;
	}
}