main {
	form {
		display: grid;
		gap: 2em;
		padding: 2em;
		max-width: 375px;
		justify-self: center;

		&:has(:invalid) {
			button:not([type="reset"], [type="button"]) {
				opacity: 50%;
				cursor: not-allowed;
			}
		}

		menu {
			display: grid;
			gap: 1em;
		}

		li {
			display: grid;
			gap: 0.5em;
		}

		input {
			padding-inline: 0.5em;
		}

		button {
			justify-self: center;
			padding: 0.5em 0.75em;
		}

		output {
			&:empty {
				display: none;
			}

			p {
				margin-bottom: 1em;
			}
		}

		a {
			text-decoration: underline;
		}
	}
}