main {
	form {
		display: grid;
		gap: 2em;
		padding: 2em;
		max-width: 375px;
		justify-self: center;
		border-radius: 1em;
		background-color: rgb(214, 214, 255);

		&:has(:invalid) {
			button:not([type="reset"], [type="button"]) {
				opacity: 50%;
				cursor: not-allowed;
			}
		}

		menu {
			display: grid;
			gap: 1.5em;
		}

		li {
			display: grid;
			gap: 0.75em;
		}

		input {
			padding-inline: 0.5em;
			border-radius: 0.25em;
			background-color: white;
		}

		button {
			justify-self: center;
			padding: 0.75em;
			border-radius: 0.25em;
			background-color: white;
		}

		output {
			&:empty {
				display: none;
			}

			p {
				margin-bottom: 1em;
			}
		}

		a {
			text-decoration: underline;
		}
	}
}