body {
	background-color: var(--secondary-bg);
}

main {
	display: grid;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	form {
		display: grid;
		gap: 2em;
		min-width: 231px;
		max-width: 375px;

		&:has(:invalid) {
			button:not([type="reset"], [type="button"]) {
				opacity: 50%;
				cursor: not-allowed;
			}
		}

		menu {
			display: grid;
			gap: 1.5em;
		}

		li {
			display: grid;
			gap: 0.75em;
		}

		input {
			padding-inline: 0.5em;
			border-radius: 0.25em;
			background-color: var(--white);
		}

		button {
			justify-self: center;
			padding: 0.75em;
			border-radius: 0.25em;
			background-color: var(--white);
		}

		output {
			&:empty {
				position: absolute;
			}
		}
	}

	a {
		margin-top: 1em;
		justify-self: center;
		padding: 0.75em;
		border-radius: 0.25em;
		background-color: var(--white);
	}

	p {
		text-align: center;
		margin-top: 3em;
	}
}