header {
	display: flex;
	gap: 1em;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: var(--quartery-bg);
	padding: 1em 2em;
	width: 100%;

	svg {
		width: 1.5em;
	}

	h1 {
		font-size: 1.5em;
	}
}

main {
	output {
		/* max-width: 100%; */

		.ultimo-mensaje {
			/* color: var(--quartery-bg); */
			/* width: 100%;
			max-width: 100%; */
			/* min-width: 0; */
			/* display: grid; */
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			opacity: 70%;
			font-size: smaller;
			width: 100%;
		}

		form {
			/* padding: 1em 0; */
			gap: 1em;
			align-items: center;

			input {
				background-color: white;
			}

			&:has(:invalid) {
				button:not([type="reset"], [type="button"]) {
					opacity: 50%;
					cursor: not-allowed;
				}
			}
		}

		> menu {
			gap: 1.5em;
			padding: 2em 0;
			/* max-width: 100%; */
			/* overflow: hidden; */

			background-color: var(--secondary-bg);

			> li {
				padding: 0 2em;
			}
		}

		li {
			display: flex;
			align-items: center;
			gap: 1em;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	menu {
		display: grid;
		gap: 1.5em;

		svg {
			width: 1.5em;

			path {
				fill: var(--quartery-bg);
			}
		}

		img {
			width: 1.5em;
		}
	}

	form {
		display: flex;
	}

	::picker-icon {
		content: '+';
	}
}