main {
	summary {
		background-color: var(--secondary-bg);
	}

	li {
		display: flex;
		align-items: center;
		padding: 1.5em 0;
		gap: 1em;
	}

	menu {
		display: grid;
		background-color: var(--secondary-bg);
		row-rule: 1px solid saddlebrown;
		padding: 0 2em;

		svg {
			width: 1.5em;

			path {
				fill: var(--quartery-bg);
			}
		}

		a,
		p {
			display: list-item;
		}
	}

	form {
		display: flex;

		select {
			display: flex;
			width: fit-content;
		}
	}

	section {
		display: flex;
		gap: 1em;
		position: fixed;
		bottom: 0;
		background-color: var(--quartery-bg);
		padding: 2em;
		width: 100%;

		svg {
			width: 2em;
		}
	}
}