header {
	display: flex;
	gap: 1em;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: var(--quartery-bg);
	padding: 1em 2em;
	width: 100%;
	z-index: 1;

	svg {
		width: 1em;
	}

	h1 {
		font-size: 1.25em;
	}
}

main {
	output {
		.ultimo-mensaje {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			opacity: 70%;
			font-size: smaller;
			width: 100%;
			text-box: trim-both cap text;
		}

		span {
			background-color: var(--quartery-bg);
			color: white;
			border-radius: 50%;
			padding: 0.4em 0.5em;
			font-size: 0.7em;
		}

		a {
			display: flex;
			width: 100%;
			gap: 0.75em 0.5em;
			padding: 1em 2em;
			align-items: center;
		}

		form {
			gap: 1em;
			align-items: center;

			input {
				background-color: white;
			}

			&:has(:invalid) {
				button:not([type="reset"], [type="button"]) {
					opacity: 50%;
					cursor: not-allowed;
				}
			}
		}

		> menu {
			background-color: var(--secondary-bg);
		}

		li {
			overflow: hidden;
		}
	}

	menu {
		display: grid;
		row-rule: solid 1px var(--primary-bg);

		svg {
			width: 1.5em;

			path {
				fill: var(--quartery-bg);
			}
		}

		img {
			width: 1.5em;
		}
	}

	form {
		display: flex;
	}

	::picker-icon {
		content: '+';
	}
}