html {
	--primary-bg: hsl(180, 42%, 93%);
	--secondary-bg: hsl(240, 100%, 92%);
	--terciary-bg: hsl(240, 100%, 87%);
	--quartery-bg: hsl(240, 100%, 81%);
	--text: hsl(0, 0%, 0%);
	--text-light: hsl(0, 0%, 20%);
	--white: hsl(0, 0%, 100%);

	color: var(--text-light);
	background-color: var(--primary-bg);
	scrollbar-color: var(--terciary-bg) var(--secondary-bg);
}

:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: -2px;
	/* outline: none;
	box-shadow: 0 0 0 4px var(--text-light) inset; */
}