html {
	--primary-bg: hsl(180, 42%, 93%);
	--secondary-bg: rgb(214, 214, 255);
	--terciary-bg: #bebeff;
	--text: hsl(0, 0%, 0%);
	--text-light: hsl(0, 0%, 20%);

	color: var(--text-light);
	background-color: var(--primary-bg);
	scrollbar-color: var(--terciary-bg) var(--secondary-bg);
}

:focus-visible {
	outline: var(--text) solid 4px;
}