@font-face {
	font-family: "Rubik";
	src: url("../../fonts/rubik/rubik.woff2") format("woff2-variations");
	font-display: swap;
}

html {
	font-family: 'Rubik';
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	text-wrap: balance;
	hyphens: none;
	line-height: 1.3;
}